<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to flask World</title>
</head>
<body>
<h1 align="center">welcome to learn Flask</h1>
<form method="post" action="/">
    <p>
        <label for="username">Username</label>
        <input id="username" name="USERNAME" type="text" placeholder="Username">
    </p>
    <p>
        <label for="pwd">Password</label>
        <input id="pwd" name="PASSWORD" type="text" placeholder="Password">
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
    <h3>{{alert}}</h3>
</form>
</body>
</html>