<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SignUp</title>
</head>
<body>

    <div align="right">
        <form action="/registration" method="post">
            <h1 align="right">Register</h1>
            <a href="/">singIn</a>
        <p>
            <label for="fname">First Name</label>
            <input id="fname" name="FNAME" placeholder="F_Name">
        </p>
        <p>
            <label for="lname">Last Name</label>
            <input id="lname" name="LNAME" placeholder="L_Name">
        </p>
        <p>
            <label for="email">Email</label>
            <input id="email" name="EMAIL" placeholder="Email">
        </p>
        <p>
            <label for="password">Password</label>
            <input id="password" name="PWD" placeholder="Password" type="password">
        </p>
        <input type="submit" value="Submit">

</form>
    </div>

</body>
</html>